---
qms_version: 2.2.0
sop_version: 2.0.1
---

# Purchasing and Purchase Verification

## General

|                           |                     |
|---------------------------|---------------------|
| **Document ID**           | CSC PR.018          |
| **Document Version**      | 2.0.1               |
| **Author**                |          | 
| **Approval**              |         |
| **QMS Version**           | 2.2.0               |
| **Regulatory References** | ISO 13485:2016  7.4 |

## Purpose
This document describes the process to be followed when purchasing products to be used by the Clinical Scientific 
Computing department. 

## Scope
The processes in this document must be followed for purchases made by the CSC department to support the design, 
development, deployment, and monitoring of clinical applications built by the CSC team.

## Definitions
| Acronym    | Definition                                                                                                                                                                                         |
|------------|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| SOUP       | **Software of Unknown Provenance** - Software item that is already developed and generally available and that has not been developed for the purpose of being incorporated into the medical device |
| QIPS       | **Quality Improvement and Patient Safety**                                                                                                                                                         |
| QPULSE     | **Quality management document and record control system** - Used by the wider Medical Physics department.                                                                                          |                                                                                                                                                                 
| SmartOrder | **Trust procurement System** Used for purchases from approved suppliers.                                                                                                                           |
| QMS        | **Quality Management System**                                                                                                                                                                      |

## Roles and Responsibilities

| Role                   | Responsibility                                                                                                         |
|------------------------|------------------------------------------------------------------------------------------------------------------------|
| Head of CSC Department | The Head of Clinical Scientific Computing is responsible for all purchase made for the department.                     |
| CSC team member        | CSC team Members can be involved in the verification and control of purchased products received by the CSC department. |

## Method

### Purchasing 

The SOPs in the medical physics QMS in QPULSE should be followed for all purchases made by the CSC. These procedures direct the 
purchaser to the standard trust procedures for ordering products and supplies through SmartOrder from approved suppliers.

| Purchasing and Control of Supplies | D PR.024      |
|------------------------------------|---------------|
| **Supplies: Ordering**             | **D WI.008**  |
| **Supplies Receipt of Goods**      | **D WI.009**  |
| **Approved Suppliers**             | **D I.004**   |
| **Supplies: Authorisation List**   | **D I.003**   |


### Inspection of received purchases

The QMO is responsible for ensuring received products meet the requirements.
- A verification plan shall be created to ensure the product performs as described, based on the supplier evaluation results. 
- Verification activities will be proportionate to the risk associated with the product.
- Products shall be inspected against the product specification provided by the supplier. 
- Records of verification shall be maintained.

### Changes to purchased products
When a supplier informs the department of any changes to the purchased product, the QMO is responsible for determining 
whether these changes affect the software development process, or any applications developed by the CSC team that are 
currently deployed. The QMO is also responsible for ensuring any risks introduced by the changes to the development 
process or deployed applications are mitigated against. 
 